{% extends  "layout.html" %}

{% block title %} Success {% endblock %}

{% block heading %} Success {% endblock %}

{% block content %}

<h1>Welcome {{username}} to Social-Monomania !</h1>
<br>
<a href="../../">Back to Home</a>
<br>
<br>
<br>
<a href="../logout">Logout</a>
<a href="../password">Change password</a>

<script language="javascript" type="text/javascript">
     <!--
     window.setTimeout(function(){ window.location = "http://socialmonomania-dev.herokuapp.com"; },2000);
     // -->
 </script>
{% endblock %}
