{% extends  "layout.html" %}

{% block title %} Enter new password{% endblock %}

{% block heading %} Welcome! {% endblock %}

{% block content %}

<h3>About us</h3>
 <p>Social Monomania is a social media listening senior project currently under development.  The USC Center for Mega Event Research and Education, housed in the College of Hospitality, Retail, and Sport Management, has proposed the development of a social media listening tool.  This tool will allow USC faculty to engage in research that tracks social media posts and visual content across multiple social media platforms.  As of now, the project is focusing on Reddit and Twitter.  By developing an easy to navigate user interface, faculty can undertake searches of social media posts which include specified keywords and phrases.  Once the social media searches are concluded, the software will display visually appealing screens for an easy graphical review of sentiment analysis.
 </p>
 
<h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form>
<br>
{% endblock %}
