<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Reset password link has been sent</title>

</head>
<body>
<div class="flex-center">
    <div class="container">
        <div>
            <h1 class="logo"><a href="{% url 'index' %}">Social Monomania</a></h1>
            <h3>Reset password link has been sent</h3>
            <p>
                If you entered the correct email, you should receive an email soon.
            </p>
            <p>
                If you did not receive the email, Please do blow:
                    1.you have entered a correct email
                    2.make sure to check your starred box

            </p>
        </div>
    </div>
</div>
</body>
</html>