<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>New Password Changed Successfully</title>

</head>
<body>
<div class="flex-center">
    <div class="container">
        <div>
            <h1 class="logo"><a href="{% url 'index' %}">Social Monomania</a></h1>
            <h3>New Password Changed Successfully</h3>
            <p>
                Your action has been completed,continue login.
            </p>
        </div>
    </div>
</div>
</body>
</html>