{% extends  "layout.html" %}

{% block title %} Home {% endblock %}

{% block heading %} Home {% endblock %}

{% block content %}
<div class='about-content'>
	<p class='about_info'>	This webapp was created as a Computer Science Capstone project by several students at the University of South Carolina.
	This is meant to be a way to search multiple social media sites at one time and to gain insight into trends shown on these sites.
	This webapp currently has very limited functionality compared to full featured, paid services. </p>

	<p class='about_info'> Navigate to the <a href="{% url 'search' %}">Search Page</a> to begin a query. Consult the <a href="{% url 'help' %}">Help Page</a> if you have any questions. If
	your issue is still not resolved or simply not listed, feel free to <a href="{% url 'contact' %}">Contact Us Here!</a>
	</p>
	<br>
	<div id='movie'>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/5tDDzg6pwL8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
	<br>
	
	
<div>
        <style type = "text/css" >
            .float-img{
                    float: left;
                    clear: left;
                    margin-left: 200px;
                    margin-right: 200px;
                    margin-bottom: 50px;
                    border: solid black 1px;
                    padding: 5px;
            }
        </style>

        <style type="text/css">
            .here{
                margin-right: 940px;
                margin-left: 850px;
                margin-bottom: 100px;
                border-bottom: solid black 1px;
                padding-bottom: 5px;
            }
        </style>

        <style type="text/css">
            .content{
                clear: right;
                margin-right: 300px;
                margin-left: 1200px;
                border-bottom: solid black 1px;
            }
        </style>



        <h2 class="here">Example Features</h2>
        <img src="http://i65.tinypic.com/t5t76e.png" width="640" height="480"
         alt="success login" title="Here" class="float-img"/>
        <h3 class="content">Successful Login Page</h3>
        <p class="content">
            After user login, the website redirect the user to this page which shows they are successfully logging in to
            this system.
        </p>

        <img src="http://i64.tinypic.com/idvo90.png" width="640" height="480"
         alt="success login" title="Here" class="float-img"/>
        
        <h3 class="content">Search page</h3>
        <p class="content">
            This is the search page. After user successfully login to the website. They will able to do keyword search
            through the public content of Reddit and twitter.
        </p>

        <img src="http://i67.tinypic.com/2khr8h.png" width="640" height="480"
         alt="success login" title="Here" class="float-img"/>
      
        <h3 class="content">Search results page</h3>
        <p class="content">
           This is the search results page. This is the returning data of keywoard search from both Reddit and twitter
            datebase.
        </p>

</div>
	
	
	
	
	
	

	<h2>Disclamer:</h2>
	<h3><em>*Due to the recent Cambridge Analytica Scandal, both Facebook and Instagram have severely limited their public data access; as a result, they are currently unavaliable*</em></h3>
</div>

{% endblock %}
