{% extends  "layout.html" %}

{% block title %} Home {% endblock %}

{% block heading %} Home {% endblock %}

{% block content %}
<div class='about-content'>
	<p class='about_info'>	This webapp was created as a Computer Science Capstone project by several students at the University of South Carolina.
	This is meant to be a way to search multiple social media sites at one time and to gain insight into trends shown on these sites.
	This webapp currently has very limited functionality compared to full featured, paid services. </p>

	<p class='about_info'> Navigate to the <a href="{% url 'search' %}">Search Page</a> to begin a query. Consult the <a href="{% url 'help' %}">Help Page</a> if you have any questions. If
	your issue is still not resolved or simply not listed, feel free to <a href="{% url 'contact' %}">Contact Us Here!</a>
	</p>
	<br>
	<div id='movie'>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/5tDDzg6pwL8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
	<br>
	
	
	
	
	
	
	
	<div>
        <style type="text/css">
            .detailsContainer{
                background-color: white;
                box-shadow: 10px 10px 5px grey;
                width: 1000px;
                margin: 0 auto;
                margin-bottom: 50px;
                border-radius: 10px;
                padding: 10px;
            }
        </style>
        <style type="text/css">
            .screenshotContainer{
                width: 1000px;
                text-align: center;
                margin: 0 auto;
                margin-bottom: 20px;
                background-color: white;
                box-shadow: 10px 10px 5px grey;
                border-radius: 10px
            }
        </style>




		<head>
			<title>DNNV</title>
		</head>
		<body>




			<br>
			<div id="detailsContainer">
				<p>
					<h1 style="text-align:center;">DNNV</h1>
					<br>
					<br>
					<h2>Production</h2>
					<hr>
					<br>
					&emsp;The current production environment is hosted at the following url:
					<br>
					<br>
					&emsp;&emsp;<a href="https://dnnv-36899.firebaseapp.com/" target="_blank">https://dnnv-36899.firebaseapp.com/</a>
					<br>
					<br>
					<h2>Overview</h2>
					<hr>
					<br>
					&emsp;&emsp;A web-based tool for visualizing neural network topologies(directed acyclic graph). It currently supports UC Berkeley's Caffe framework. DNNV is an extension of ethereon/netscope framework with added functionality. This application uses Firebase as database storage to store files and the users password and username.
					<br>
					<h3>Cloud Storage Functionality</h3>
					<br>
					&emsp;&emsp;This application expands the Netscope project by allowing users to save their neural network topologies or just directed acyclic graphs on cloud storage via Firebase. Hence, a user of this application may create a user account to take advantage of such cloud storage capabilities. Acessing saved neural network topologies will proceed in a very natural manner via a login screen. One can also publicly share their respective neural network topologies with other users.
					<br>
					<h3>Editor View</h3>
					<br>
					&emsp;&emsp;The Editor View is the main interface of the application. This is where the user can copy a prototxt file, encoding the information of the neural network as specified by the caffe format, into the text editor to view the directed acyclic graph. The text editor may also be collapsed and expanded at any time. An important feature of this application is that one can rearrange and drag the nodes/vertecies of the graph representation of the deep neural network, and these changes to the graph will be reflected in the prototext file.
					<br>
					<br>
					&emsp;&emsp;Hovering over a node will create a small window that shows a description of the node, and one can use the menu on the right to select multiple nodes and collapse them into a single group by hitting the group button. In an inverse manner, one can reverse the grouping of nodes by hitting the group button again. In order to change the name of a group, double click on the grouped nodes and change the name in the contextual pop up.
					<br>
					<h3>Why use DNNV?</h3>
					<br>
					&emsp;&emsp;We have expanded upon the already existing framework Netscope, adding a multitude of functions that were not available before. Below are examples of features that we have added:
					<br>
					<br>
					<br>
				</p>
			</div>
			<div id="screenshotContainer">
				<h1 style="text-align:center;padding-top:20px;">Example Features</h1>
				<hr style="margin-right:10px;margin-left:10px;">
				<div class="row">
                    <div class="col-sm-6"><p><h3>Successful Login Page</h3><hr style="margin-right:15px;"></p><p style="text-align:left;margin-right:10px;">After user login, the website redirect the user to this page which shows they are successfully logging in to
            this system.</p></div>
					<img src="http://i65.tinypic.com/t5t76e.png" width="640" height="368">

				</div>
				<div class="row">
                    <div class="col-sm-6"><p><h3>Search page</h3><hr style="margin-right:15px;"></p><p style="text-align:left;margin-right:10px;">This is the search page. After user successfully login to the website. They will able to do keyword search
            through the public content of Reddit and twitter.</p></div>
					<img src="http://i64.tinypic.com/idvo90.png" width="640" height="480">
				</div>
				<div class="row">
                    <div class="col-sm-6"><p><h3>Search results page</h3><hr style="margin-right:15px;"></p><p style="text-align:left;margin-right:10px;">This is the search results page. This is the returning data of keywoard search from both Reddit and twitter
            datebase.</p></div>
					<img src="http://i67.tinypic.com/2khr8h.png" width="640" height="480">

				</div>
			</div>
		</body>
</div>
	

	
	
	
	
	
	

	<h2>Disclamer:</h2>
	<h3><em>*Due to the recent Cambridge Analytica Scandal, both Facebook and Instagram have severely limited their public data access; as a result, they are currently unavaliable*</em></h3>
</div>

{% endblock %}
