{% extends  "layout.html" %}

{% block title %} FAQ {% endblock %}

{% block heading %} FAQ {% endblock %}

{% block content %}
<h6>What social media platforms does Social Monomania pull the results from?</h6>
<p>	Facebook,Instagram, Reddit, Twitter </p>

<h6> Can I save the results?</h6>
<p> Yes, there is a downloadable excel file available at the end of every search</p>

<h6>What are the options for advanced search?</h6>
<p>Geolocation, source such as Facebook only items, filter by time period<p>

<h6> Will any other social media platforms be added?</h6>
<p>Yes, in the future we will be looking to implement more media platforms. Stay tuned.</p>

<h6> Why is there a login feature?</h6>
<p>To prevent overloading our servers at the moment, we are restricting only authorized logins to use our features. </p>
{% endblock %}