{% extends  "layout.html" %}

{% block title %} FAQ {% endblock %}

{% block heading %} FAQ {% endblock %}

{% block content %}
<h4>What social media platforms does Social Monomania pull the results from?</h4>
<p>	Facebook,Instagram, Reddit, Twitter </p>

<h4> Can I save the results?</h4>
<p> Yes, there is a downloadable excel file available at the end of every search <br></p>

<h4>What are the options for advanced search?</h4>
<p>Geolocation, source such as Facebook only items, filter by time period<br></p>

<h4> Will any other social media platforms be added?</h4>
<p>Yes, in the future we will be looking to implement more media platforms. Stay tuned.<br></p>

<h4> Why is there a login feature?</h4>
<p>To prevent overloading our servers at the moment, we are restricting only authorized logins to use our features.<br> </p>
{% endblock %}