{% extends  "layout.html" %}

{% block title %} FAQ {% endblock %}

{% block heading %} FAQ {% endblock %}

{% block content %}
<div id='question'>
	<h4>Q: What social media platforms does Social Monomania pull the results from?</h4>
	<p>A: Facebook,Instagram, Reddit, Twitter </p>
</div>

<div id='question'>
	<h4> Q: Can I save the results?</h4>
	<p> A: Yes, there is a downloadable excel file available at the end of every search <br></p>
</div>

<div id='question'>
	<h4>Q: What are the options for advanced search?</h4>
	<p>A: Geolocation, source such as Facebook only items, filter by time period<br></p>
</div>

<div id='question'>
	<h4> Q: Will any other social media platforms be added?</h4>
	<p>A: Yes, in the future we will be looking to implement more media platforms. Stay tuned.<br></p>
</div>

<div id='question'>
	<h4> Q: Why is there a login feature?</h4>
	<p>A: To prevent overloading our servers at the moment, we are restricting only authorized logins to use our features.<br> </p>
</div>

<div id='question'>
	<h4> Q: How do I search within Facebook?</h4>
	<p>A: Make sure Facebook is selected for search results, then use hashtags (#) and keywords; or keywords by themselves.<br> </p>
</div>

<div id='question'>
	<h4> Q: How do I search within Twitter?</h4>
	<p>A: Make sure Twitter is selected for search results, and use the following operators:<br> </p>
	<p>A: Operator: "happy hour" | Finds tweets: containing the exact phrase "happy hour."<br> </p>
	<p>A: Operator: love OR hate | Finds tweets: containing either "love" or "hate" (or both).<br> </p>
	<p>A: Operator: beer -root | Finds tweets: containing "beer" but not "root."<br> </p>
	<p>A: Operator: #haiku | Finds tweets: containing the hashtag "haiku."<br> </p>
	<p>A: Operator: near:NYC within:15mi | Finds tweets: sent within 15 miles of "NYC."<br> </p>
	<p>A: Operator: superhero since:2010-12-27 | Finds tweets: containing "superhero" and sent since date "2010-12-27" (year-month-day).<br> </p>
	<p>A: Operator: movie -scary :) | Finds tweets: containing "movie", but not "scary," and with a positive attitude.<br> </p>
	<p>A: Operator: flight :( | Finds tweets: containing "flight" and with a negative attitude.<br> </p>
</div>
{% endblock %}
