{% load static from staticfiles %}
<canvas id="myChart" style="width:90%; height:95%; position: absolute !important; margin: 0px !important">
</canvas>
<script src="{% static 'scripts/Chart.js' %}"></script>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var facebook_data = [70, 190, 300, 500, 200, 90, 50];
var twitter_data = [50, 150, 500, 600, 300, 190, 150];
var max = Math.max(
    Math.max.apply(null, facebook_data), 
    Math.max.apply(null, twitter_data)
    );
var pad_top = max *.10;
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["0:00", "4:00", "8:00", "12:00", "16:00", "20:00", "0:00"],
        datasets: [
{
            label: 'Facebook',
            data: facebook_data,
            fill: false,
            backgroundColor: [
                'rgba(59, 89, 152, 0.6)'],
            borderColor: [
                'rgba(59, 89, 152, 0.6)'],
            borderWidth: 1.5
        },
{
            label: 'Twitter',
            data: twitter_data,
            fill: false,
            backgroundColor: [
                'rgba(29, 202, 255, 0.60)'],
            borderColor: [
                'rgba(29, 202, 255, 0.60)'],
            borderWidth: 1.5
        }]
    },
    options: {
        responsive: false,
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    max: max + pad_top
                }
            }]
        }
    }
});
</script>