{% extends  "layout.html" %}

{% block title %} Help {% endblock %}

{% block heading %} Help {% endblock %}

{% block content %}

<p> Have a question? Check the FAQ first, then feel free to contact us if the issue isn't resolved. </p>

<a href="{% url 'faq' %}">FAQ</a>
<div id='question'>
	<h4>Q: What social media platforms does Social Monomania pull the results from?</h4>
	<p>A: Facebook,Instagram, Reddit, Twitter </p>
</div>

<div id='question'>
	<h4> Q: Can I save the results?</h4>
	<p> A: Yes, there is a downloadable excel file available at the end of every search <br></p>
</div>

<div id='question'>
	<h4>Q: What are the options for advanced search?</h4>
	<p>A: Geolocation, source such as Facebook only items, filter by time period<br></p>
</div>

<div id='question'>
	<h4> Q: Will any other social media platforms be added?</h4>
	<p>A: Yes, in the future we will be looking to implement more media platforms. Stay tuned.<br></p>
</div>

<div id='question'>
	<h4> Q: Why is there a login feature?</h4>
	<p>A: To prevent overloading our servers at the moment, we are restricting only authorized logins to use our features.<br> </p>
</div>

<div id='question'>
	<h4> Q: How do I search within Facebook?</h4>
	<p>A: Make sure Facebook is selected for search results, then use hashtags (#) and keywords; or keywords by themselves.<br> </p>
</div>

<!-- Twitter operators found here: https://lifehacker.com/search-twitter-more-efficiently-with-these-search-opera-1598165519  -->
<div id='question'>
	<h4> Q: How do I search within Twitter?</h4>
	<p>A: Make sure Twitter is selected for search results, and use the following operators:<br> </p>
	<p>Operator: "happy hour" | Finds tweets: containing the exact phrase "happy hour."<br> </p>
	<p>Operator: love OR hate | Finds tweets: containing either "love" or "hate" (or both).<br> </p>
	<p>Operator: beer -root | Finds tweets: containing "beer" but not "root."<br> </p>
	<p>Operator: #haiku | Finds tweets: containing the hashtag "haiku."<br> </p>
	<p>Operator: near:NYC within:15mi | Finds tweets: sent within 15 miles of "NYC."<br> </p>
	<p>Operator: superhero since:2010-12-27 | Finds tweets: containing "superhero" and sent since date "2010-12-27" (year-month-day).<br> </p>
	<p>Operator: movie -scary :) | Finds tweets: containing "movie", but not "scary," and with a positive attitude.<br> </p>
	<p>Operator: flight :( | Finds tweets: containing "flight" and with a negative attitude.<br> </p>
</div>

<!-- Reddit operators found here: http://arnoldit.com/wordpress/2017/02/23/tips-for-finding-information-on-reddit-com/ -->
<div id='question'>
	<h4> Q: How do I search within Reddit?</h4>
	<p>A: Make sure Reddit is selected for search results, and use the following operators:<br> </p>
	<p>title:[text] | searches only post titles.<br> </p>
	<p>selftext:[text] | searches only the body of posts that were made as self-posts.<br> </p>
	<p>subreddit:[name] searches only posts that were submitted to the given subreddit community.<br> </p>
</div>

<div id='question'>
	<h4> Q: How do I search within Instagram?</h4>
	<p>A: Make sure Instagram is selected for search results, and simply enter the name, hashtag, or place you're looking for.<br> </p>
</div>

<a href="{% url 'contact' %}">Contact Us</a>
<div>
	<h4> Please let us know about any issues, concerns, or suggested features. </h4>
</div>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <div class="form-actions">
      <button id='submit_b' type="submit">Send</button>
    </div>
</form>


{% endblock %}