
{% extends  "layout.html" %}

{% block title %} Home {% endblock %}

{% block heading %} Home {% endblock %}

{% block content %}
<h3>Enter your search in the bar below and press enter. </h3>
<input class="w3-input w3-border w3-round-large"type="search" id="mySearch" placeholder="Search..">

<p>Click the button to get the placeholder text of the search field.</p>

<button onclick="myFunction()">Search</button>

<p id="demo"></p>

<script>
function myFunction() {
    var x = document.getElementById("mySearch").placeholder;
    document.getElementById("demo").innerHTML = x;
}
</script>
{% endblock %}