
{% extends  "layout.html" %}

{% block title %} Home {% endblock %}

{% block heading %} Home {% endblock %}

{% block content %}

<form method='get' action='https://www.reddit.com/search.json?'>
	<h3>Enter your search in the bar below and press enter. </h3>
	<input class="w3-input w3-border w3-round-large"type="search" id="mySearch"  name='q' placeholder="Search.." >
	<script type="text/javascript" language="javascript">
		document.getElementById("mySearch")
  	  	.addEventListener("keyup", function(event) {
	    event.preventDefault();
	    if (event.keyCode === 13) {
 	       document.getElementById("s_button").click();
  	  	}
	});
	</script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<button  id='s_button' style="vertical-align: top;margin-left:auto;margin-right:auto" onclick="return myFunction()">Search</button>
	<div id='Box'>
		<input type="checkbox"  name="reddit" value="https://www.reddit.com/search.json?"/> Reddit<br />
		
		<input type="checkbox"  name="twitter" value="https://twitter.com/search-home"/> Twitter<br />
		
		<input type="checkbox"  name="test" value="http://socialmonomania-dev.herokuapp.com/" />Our Site<br />
	</div>
	
</td></tr></table>
</form>
<br></br>
<div id="demo" style="height:800px; width:800px; display:none;vertical-align: bottom;margin-left:auto;margin-right:auto"> </div>

<script language="javascript" type="text/javascript">
function myFunction() {
	document.getElementById("demo").style.display = "inline-block";
	document.getElementById("demo").innerHTML = '<object type="text/html" style="width:100%;height:100%" data="graph/graph.html" > </object> ';
    var x = document.getElementById("mySearch").placeholder;
   
   /* $.ajax({
    	type: "GET",
    	dataType: "html",
    	url: "graph/graph.html",
    	success: function(data){
    		document.getElementById("demo").innerHTML = data;
    	}
    });
    */
    //document.getElementById("demo").innerHTML = x;
}
</script>
{% endblock %}