{% load static from staticfiles %}

<!doctype html>
<html>
	<head>
		<title>{% block title %} {% endblock %}</title>
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
	</head>
	<body>
		<div class="site-container">
			<div class='header'>
				<h1>Social Monomania</h1>
				<div class='graphic'>
			 		<img src="{% static 'images/suckedin_final_mid_final.png' %}" alt="Header"/>
			 	</div>
			 </div>
				<nav>
					<a href="{% url 'home' %}">Home</a>
					<a href="{% url 'about' %}">About</a>
					<a href="{% url 'home' %}">Login</a>
					<a href="{% url 'faq' %}">FAQ</a>
					<a href="{% url 'contact' %}">Contact Us</a>
				</nav>
				<h1>{% block heading %} {% endblock %}</h1>
				<div class = 'content'>
					{% block content %} {% endblock %}
				</div>
		
		</div>
	</body>
</html>
